email=etawong@gmail.com
always-auth=true
//registry.npmjs.org/:_auth=ZXRhd29uZzpFdGl3b25nODU=
allowRepublish=true
#The command to generate the authentication token is 'echo -n 'username:password' | openssl base64'
