email=info@mylandmarktech.com
#always-auth=true
registry=http://35.92.183.216:8081/etawong/repository/ebay-npm-repo//
//35.92.183.216:8081/etawong/repository/ebay-npm-repo/:_authToken=ZXRhd29uZzpFdGl3b25nODU=
#//registry.npmjs.org/:_auth=ZXRhd29uZzpFdGl3b25nODU=
allowRepublish=true
#The command to generate the authentication token is 'echo -n 'username:password' | openssl base64'
